/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}






/* HLAVICKA */

header {
    background-image: 
    radial-gradient(circle, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/island-hlavicka.jpg');
    background-position: center center;
	background-size: cover;
}



.perex::after {
	content:"";
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15pt;
	width: 100px;
	height: 1px;
	background-color: lightgray;
    }

.titulek {
    font-family: 'Raleway', serif;
}

.titulek, .perex, .autor {
    color: white;
    text-align: center;
}

.autor {
    font-style: italic;
    color: lightgrey;
}

@media (max-width: 499px) {
    .titulek {
        font-size: 36px;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    .titulek {
        font-size: 40px;
    }
}

@media (min-width: 1001px) {
    .titulek {
        font-size: 48px;
    }
}


@media (max-width: 1000px) {
   header {
    padding: 20pt;
   } 
}

@media (min-width: 1001px) {

    header {
        padding-left: 20pt;
        padding-right: 20pt;
        padding-top: 40pt;
        padding-bottom: 60pt;
       } 

   .telo {
        width: 960px;
        background-color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50pt;
        padding-top: 20pt;
        box-shadow: 5px 10px 18px grey;
   }
}


/* MENU */

ul {
    list-style-type: none;
}

li a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway', serif;
    color: darkgray;
}


@media (max-width: 499px) {
    ul {
        margin-left: 30pt;
        margin-right: 30pt;
        padding-left: 0pt;
        padding-right: 0pt;
    }
    
    li a {
        display: block;
        text-align: center;
        border-bottom: 1px solid darkgrey;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {

    ul{
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        margin-left: 30pt;
        margin-right: 30pt;
        padding-left: 0pt;
        padding-right: 0pt;
    }
}

@media (min-width: 1001px) {
    .uvod {
        display: flex;
    }

    ul {
        width: 100%;
        padding-left: 15pt;
        padding-right: 15pt;
    }
    
    li a {
        display: block;
        text-align: left;
        border-bottom: 1px solid darkgrey;
        padding: 5pt;
    }
}


/* OBSAH */



h2 {
    font-family: 'Raleway';
    margin-left: 15pt;
}

h2::after {
	content:"";
	display: block;
    margin-top: 15pt;
	width: 100px;
	height: 3px;
	background-color: royalblue;
    margin-left: -15pt;
    }

p {
    margin-left: 30pt;
    margin-right: 30pt;
}

img {
    width: 100%;
}




@media (max-width: 499px) {
    .tpopisek {
        color: darkgray;
        text-align: center;
        margin-top: 0;
    } 

    a:link {
        color: darkgrey;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    .kontejner {
        position: relative;
    }
    .tpopisek {
        color: white;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    a {
        color: white;
    }
}

@media (min-width: 1001px) {
    .kontejner {
        position: relative;
    }
    .tpopisek {
        color: white;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    a {
        color: white;
    }
}




/* FOTOGALERIE */

@media (max-width: 499px) {
    .popisek {
        color: darkgray;
        text-align: center;
        margin-top: 0;
    }
   
}

@media (min-width: 500px) and (max-width: 1000px) {

    .galerie {
        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
   
    .foto img {
        width: 100%;
        transition: 0.3s;
        display: flex;
    }
    
    
    .foto {
        position: relative;
        overflow: hidden;
    }

    img {
        display: flex;
    }
    
    .popisek {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        transition: 0.3s;
        position: absolute;
        padding-left: 15pt;
    }

    
    .foto:hover .popisek {
        transform: translateY(-150%);
    }
}

@media (min-width: 1001px) {

    .galerie {
        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
   
    .foto img {
        width: 100%;
        transition: 0.3s;
        display: flex;
    }
    
    
    .foto {
        position: relative;
        overflow: hidden;
    }

    img {
        display: flex;
    }
    
    .popisek {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        transition: 0.3s;
        position: absolute;
    }
    
    .foto:hover .popisek {
        transform: translateY(-100%);
    }
  
}




/* PATICKA */

footer {
    color: darkgrey;
    padding-top: 20pt;
    padding-bottom: 20pt;
}

@media (max-width: 1000px) {
    footer {
        box-shadow: 0px 10px 50px lightgray inset;
    }
 }
 
 @media (min-width: 1001px) {
    footer {
        display: block;
        margin: auto;
        width: 960px; 
    }
 }

@media (min-width: 500px) {
    footer a {
        color: darkgray;
    }
}
